<h1>MY BLOG</h1>

<p>Доброго времени суток <%= @user.name %>,</p>

<p>
  Добро пожаловать в нашу дружную семью! Для активации Вашего аккаунта перейдите по ссылке!
</p>

<%= link_to "Активировать", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>