<h1>Востановление пароля</h1>

<p>Для востановденя пароля перейдите поссылки ниже:</p>

<%= link_to "Востановить пароль", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Срок дейстивия ссылки истекает через 2 часа</p>

<p>
  Если этот запрос делали не Вы, то игнорируйте это письмо и Ваш пароль останется  прежним!
</p>