<div class="well">
  <%= form_for  @comment, remote: true do |f| %>
      <div class="form-group">
        <%= f.label :body, 'Введите Ваше сообщение:' %>
        <%= f.text_area :body, rows: 3, class: 'form-control', required: true, maxlength: 2000 %>
        <small class="label label-warning">Не может быть пустым и превышать 2000 символов.</small>
      </div>
      <%= f.submit 'Оправить', class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>

